body {
    margin: 0;
}
button {
    cursor: pointer;
}

#dash-bar {
    width: 100%;
    height: 40px;
    background-color: rgb(4, 127, 190);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 10px;
}

#dash-bar h1 {
    margin: 0;
    text-align:center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

#btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 40px;
    width: fit-content;
    top:50px;
    margin-left: 2px;
    position: fixed;
    border-radius:50%;
}
#room-btn{
    border-radius:50%;
    padding:0;
    height:25px;
    width:25px;
}

#refresh-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 40px;
    width: fit-content;
    top:15px;
    margin-left: 2px;
    position: fixed;
    /*border-radius:50%;*/
}
#refresh-btn{
   /* border-radius:50%;*/
    padding:0;
    height:25px;
    width:25px;
}
#log-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 3%; /* Adjust this value to move the container down */
    position: absolute;
    top: 12%; /* Adjust this value to move the container down */
    width: 100%;
}

#log {
    width: 37.35%;
    height: 100%;
    resize: none;
    margin: 0;
    padding: 1px;
    border-width: 2px;
    border-color: black;
    background-color: #cae2ee;

}

#input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-top: 2.67%; /* Adjust this value to move the container down */
    position: absolute;
    top: 60.9%; /* Adjust this value to move the container down */
    right:33.8%;
    width: 33.2%;
}
input:focus {
    outline: none;
}
#input {
    width: 100%;
    border-width: 2px;
    border-color: black;
    margin-top: 1.35%;
    background-color: #cae2ee;
    right: 1%;
}
#send-button{
    height: 10%;
    top:70.2%;
    right:31.2%;
    margin-left: 2px;
    position: fixed;
    border-color: black;
}
#send-btn{
    background-color: #cae2ee;
}
#img-button{
    height: 30%;
    top:70.2%;
    left:31%;
    margin-left: 2px;
    position: fixed;
    border-color: black;
}
#img-btn{
    background-color: #cae2ee;
    border-right: none;
    width:100%;
    height:31.25%;

}

#fileInput:focus {

}
#fileInput {
    background-color: #cae2ee;

    width:100%;
    height:31.25%;
    display: none;
    border:black;
}

#bottom-bar {
    width: 100%;
    flex: 0 0 10vh;
    background-color: rgb(4, 127, 190);
    text-align: center;
    position: fixed;
    padding-top: 7px;
    padding-bottom: 9px;
    bottom: 0;
}

.bottom-bar-words {
    display: inline-block;
    color: white;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: 175px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(4, 127, 190);
    overflow-x: hidden;
    padding-top: 60px;
}

.sidebar a, .sidebar h1 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: rgba(10, 9, 9, 0.47);
    display: block;
}

/*colour for hovering over the links in sidebar*/
.sidebar a:hover, .sidebar h1:hover {
    color: #ffffff;
}

.topbarline {
    border-left: 3px solid #000000;
    height: 100%;
    position: fixed;
    top:0;
    bottom:1%;
    left: 1.9%;
}

/* Chat room button */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: 125%;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
   border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Current chat room*/
#CurrentRoom {
    margin-top: 6.3%;
    margin-right: 6%;
    text-align: center;
}

#title{
    position:fixed;
    right:45%;
    top:2%;
}

/*About page*/
#about-butt{
    top: 3%;
    position:fixed;
    padding: 0;
    left:0.2%;
}

#Name {
    margin-top: 5%;
    text-align: center;
}

#Name h1, #Name h2 {
    display: block;
    margin: 0;
}

#Name h2 {
    margin-top: 10px;
}
#git1{
    padding: 1px;
}
#git2{
    padding: 1px;
}
#git3{
    padding: 1px;
}

#member1{
    display: inline-block;
    border: 2px solid black;

}

#member2{
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid black;
}

#member3{
    display: inline-block;
    border: 2px solid black;
}




